.malos {
    background-color: rgb(167, 77, 77);
}
.buenos {
    background-color: rgb(83, 83, 190);
}
#helado_oscuro{
    font-style: italic;
}
#helado_bueno{
    font-style: italic;
}
.Soldados{
    border-style: dashed;
}
.soldados2{
    letter-spacing: 1px;
}
.apoyo{
    text-align: center;
}
.NAVES{
    text-transform:uppercase;
}
.Droides{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.letras_titulo{
    color: aliceblue;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
body{
    background-color: black;
}
